@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Colors */

/*
60% of #677F98 - Primary
30% of #676798 - Secondary
10% of #679898 - Accent
*/

:root {
  /* var(--primaryColor) !important; */
  --primaryColor: #d1b4cc;

  /* var(--secondaryColor) !important; */
  --secondaryColor: #a17c9b;

  /* var(--accentColor) !important; */
  --accentColor: #342d33;

  /* var(--fontFamily) !important; */
  --fontFamily: "Bitcount Prop Single Ink", system-ui;
}

/* -------------------------------------- */
/* MAKE ALL TEXT USE ACCENT COLOR */
/* -------------------------------------- */

body {
  color: var(--accentColor) !important;
  font-family: var(--fontFamily);
}

/* optional: make all headings inherit the same color */
h1, h2, h3, h4, h5, h6, p, li, a, span {
  color: var(--accentColor) !important;
}
